<!DOCTYPE html>
<html lang ="en">
<head>

<meta name = "view-port" content = "width=device-width initial-scale = 1.0"/>

<link rel = "stylesheet" type = "text/css" href = "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
<link rel = "stylesheet" type = "text/css" href = "./styles/index.css"/>
<link rel = "stylesheet" type = "text/css" href ="./styles/bootstrap.min.css" />


</head>

<body>

    <div class ="header">
        
        <div class ="container">
    
            <div class ="row">
    
                <div class = "col-sm">
    
                <h1 class ="col">We<span><img src ="./images/w.gif" alt =""/></span>Connect</h1>
    
                </div>
    
            </div>
    
            <div class ="row">
    
                <div class = "col-sm">
    
                       
    
                    <button class ="nav-item btn1 btn-success"data-toggle="modal" data-target="#exampleModalCenter">Login</button>
    
                    <button class ="nav-item btn2 btn-success"data-toggle="modal" data-target="#exampleModalCenter2">Register</button>
    
    
                </div>
    
            </div>
    
        </div>

        
    </div>
 
    <nav class="navbar navbar-dark navbar-expand-lg bg-dark justify-content-center">
            
                <div class ="container-fluid">
            <a class="navbar-brand"style = "float:left"  href="#">Business Profile Page</a>
    
        
            
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                    <span class="navbar-toggler-icon"></span>
                  </button>
            
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav ">
                    <li class="nav-item active nbar">
                        <a class="nav-link" href="#">Home <span class="sr-only"></span></a>
                    </li>
                    <li class="nav-item nav-btn nbar">
                        <a class="nav-link" href="#">Flight</a>
                    </li>
                    <li class="nav-item nav-btn nbar">
                        <a class="nav-link" href="#">Hotel</a>
                    </li>

                    <li class="nav-item nav-btn nbar">
                        <a class="nav-link" href="#">Restaurant</a>
                        </li>
                    
                    <li class="nav-item nav-btn nbar">
                        <a class="nav-link" href="#">Sports</a>
                    </li>

                    <li class="nav-item nav-btn nbar">
                        <a class="nav-link" href="#">SuperMarket</a>
                        </li>
                    </ul>
                </div>
            </div>
        
      </nav>

<div class = "container ">

    <div class = "row">
        <div class ="col-sm">
            <div class ="container "id="c6"style="height:100%"></div>

        </div>

        <div class ="col-sm">
         
        <div class ="container bl">
            <h1>About Us</h1>

            <div class="card">
                    <div class="card-body">

                            <h5 class="card-title">Virgin Australia, NZ</h5>
                            In 2000, the Virgin brand entered the Australian aviation market for the first time, 
                            bringing real competition in the leisure sector of the market. 
                            Launching the new brand Virgin Australia in May 2011, 
                            and the Game Change program announced by CEO John Borghetti, was a key part of 
                            repositioning ourselves in the market to be Australia’s airline of choice. 
                            
                            Now we have a new vision: to revolutionise air travel again,
                             this time across all market segments. We will do this by providing a 
                             seamless experience across all international and domestic markets, 
                             while retaining the same excellent service
                    </div>
                  </div>
                </div>
        </div>
    </div>
</div>

<div class = "container bl2">

    <div class = "row ">


        <div class ="col-sm-4">
            
                <div class ="container ">
                    <div class = "card">
                    <span><i class="fa fa-map-marker" style="font-size:48px;color:green;float:left;"></i>
                        <p class ="text-center">Brisbane, Queensland, Australia 4006</p>
                    </span>
                    
                    </div>
                
            </div>
    
        </div>
        
        <div class ="col-sm-4">
                
                <div class ="container ">
                <div class ="card">
                 <span><i class="fa fa-phone-square" style="font-size:48px;color:green;float:left"></i>
                    <p class ="text-center">+61 7 3295 3000</p>
                    </span>
                 
                </div>
                </div>

        
        </div>

        <div class ="col-sm-4">
            
            <div class ="container ">

                <div class ="card">
    
                <span><i class="fa fa-envelope" style="font-size:48px;color:green;float:left"></i>
                    <p class ="text-center">enquires@virginaustralia.com</p>
                </span>

            </div>
            </div>
    
    </div>

    </div>
</div>

<div class = "container">
    <h1 style="text-align:center">Reviews</h1>
    <div class = "row">

        <div class ="col-sm">

            <div class ="card">

               
                <span><img class="rounded-circle float-left"
                    style ="width:150px;height:100px;" src="./images/book.jpg"alt=""/>
                    <span class="review"style="font-size:20px;border:none">Augustine Ezinwa</span>
                    <p>&nbsp I recently flew Perth to Melbourne but needed to change my return flight due to an unexpected family emergency. I phoned on 2 occasions to organise a flight change and was told that there would be an $80 fee and that I also needed to pay the difference between my original & new flight booking - not a problem. This fee would equate to around $110. But the customer service staff were insisting that I would need to pay around $330; while keeping in mind that booking a whole new flight was only $270.
                            I would very much like to speak with someone who's first language is English or to be able to email Virgin to pursue this further - but I can't find a contact email & both customer service people had some difficulty understanding the situation, so I am reluctant to try that again. 
                            Ultimately, I had to forfeit my flight & book a whole new flight. 
                            Not impressed!!!! </p></span>
            </div>
           
        </div>
        <div class ="col-sm">
            <div class ="card">

                <span><img class="rounded-circle float-left"
                    style ="width:150px;height:100px;" src="./images/book.jpg"alt=""/>
                    <span class="review"style="font-size:20px;border:none">Augustine Ezinwa</span>
                    <p>&nbsp The flight services are well ok, the last time i took
                        a flight to australia , virgin managed all my worries , and even
                    called me at times to remind me of my flight time! </p></span>
            </div> 
                           
       </div>
    </div>

    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Login to WEConnect!</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body"> 
                <form>
                <div class="form-group">
                    <label for ="userName">Enter Username or Email</label>
                    <input type="text1" class="form-control" placeholder="Enter Your email or username" required/>
                    
            </div>
            <div class="form-group">
                    <label for ="password">Enter Password</label>
                    <input type="password" class="form-control" placeholder="Enter Your Password" required/>
                    
            </div>
            <button type="submit" class="btn btn-success">Login</button>
                </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  
                </div>
              </div>
            </div>
          </div>
    <!--modal box for sign-up-->

          <div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLongTitle">Sign up to WEConnect!</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                        
                            <form>
                                    <div class="form-group">
                                        <label for ="userName">Enter Full Name</label>
                                        <input type="text1" class="form-control" placeholder="Enter Your Full Name" required/>
                                        
                                </div>
                                <div class="form-group">
                                    <label for ="userName">Enter Email</label>
                                    <input type="text1" class="form-control" placeholder="Enter Your Email" required/>
                                    
                            </div>
                                <div class="form-group">
                                        <label for ="password">Enter Password</label>
                                        <input type="password" class="form-control" placeholder="Enter Your Password" required/>
                                        <div class="form-group">
                                                <label for ="password">Confirm Password</label>
                                                <input type="password" class="form-control" placeholder="Enter Your Password" required/>
            
                                        </div>
                                        <div class="form-group">
                                                <label for="profileImage">Upload Profile Image </label>
                                                <input type="file" class="form-control-file" id="profileImage">
                                              </div> 
                                              <div class="form-group">
                                                    <label for="exampleFormControlTextarea1">Tell us a little about yourself
                                                    </label>
                                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                                                  </div>
                                <button type="submit" class="btn btn-success">Sign up</button>
                                    </form>
                        </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  
                </div>
              </div>
            </div>
          </div>
</div>



<div class = "footer">
        
            <div class ="container">
        
                <div class = "row"> 
        
                    <div class ="col-sm-12">
        
                        &copy 2018 WeConnect
        
                    </div>
        
                </div>
        
            </div>
        
         </div>
        
        
 

      <script src ="./js/index2.js"></script>
      <script src = "./js/jquery.min.js"></script>
      <script src = "./js/bootstrap.bundle.min.js"></script>
</body>

</html>