<!DOCTYPE html>
<html lang ="en">
<head>

<meta name = "view-port" content = "width=device-width initial-scale = 1.0"/>

<!--<link rel = "stylesheet" type = "text/css" href = "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>-->
<link rel = "stylesheet" type = "text/css" href = "./styles/index.css"/>
<link rel = "stylesheet" type = "text/css" href ="./styles/bootstrap.min.css" />


</head>

<body>

    <div class ="header">
        
        <div class ="container">
    
            <div class ="row">
    
                <div class = "col-sm">
    
                <h1 class ="col">We<span><img src ="./images/w.gif" alt =""/></span>Connect</h1>
    
                </div>
    
            </div>
    
            <div class ="row">
    
                <div class = "col-sm">
    
                       
    
                    <button class ="nav-item btn1 btn-success"data-toggle="modal" data-target="#exampleModalCenter">Login</button>
    
                    <button class ="nav-item btn2 btn-success"data-toggle="modal" data-target="#exampleModalCenter2">Register</button>
    
    
                </div>
    
            </div>
    
        </div>

        
    </div>
 
    <nav class="navbar navbar-dark navbar-expand-lg bg-dark justify-content-center">
            
                <div class ="container-fluid">
            <a class="navbar-brand"style = "float:left"  href="#">Business Catalog Page</a>
    
        
            
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                    <span class="navbar-toggler-icon"></span>
                  </button>
            
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav ">
                    <li class="nav-item active nbar">
                        <a class="nav-link" href="#">Home <span class="sr-only"></span></a>
                    </li>
                    <li class="nav-item nav-btn nbar">
                        <a class="nav-link" href="#">Flight</a>
                    </li>
                    <li class="nav-item nav-btn nbar">
                        <a class="nav-link" href="#">Hotel</a>
                    </li>

                    <li class="nav-item nav-btn nbar">
                        <a class="nav-link" href="#">Restaurant</a>
                        </li>
                    
                    <li class="nav-item nav-btn nbar">
                        <a class="nav-link" href="#">Sports</a>
                    </li>

                    <li class="nav-item nav-btn nbar">
                        <a class="nav-link" href="#">SuperMarket</a>
                        </li>
                    </ul>
                </div>
            </div>
        
      </nav>
    
      

      
      <div class ="container">

        
            <div class = "row">
                    
                    <div class ="col-sm-12">
                            <div class="btn-group dropright"style = "margin-top:29px">
                                    <button type="button" class="btn btn-lg btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                      Search By
                                    </button>
                                    <div class="dropdown-menu bg-light">
                                            <div class="dropdown">
                                                    <button class="dropbtn">Location</button>
                                                    <div class="dropdown-content ">
                                                      <a href="#">Link 1</a>
                                                      <a href="#">Link 2</a>
                                                      <a href="#">Link 3</a>
                                                    </div>
                                                  </div>

                                            <div class="dropdown">
                                                <button class="dropbtn">Category</button>
                                                <div class="dropdown-content">
                                                    <a href="#">Link 1</a>
                                                    <a href="#">Link 2</a>
                                                    <a href="#">Link 3</a>
                                                </div>
                                                </div>
                                    </div>
                                </div>

                            </div>
                            

                    </div>
                    
                
      <div class = "row">
            
            <div class ="col-sm-12">
                
                <form class ="form1">
                
                    <input type = "text" id ="search" name ="search" placeholder="Search business" />
                    
                        <span><button class ="btn btn-success btn2">Search</button></span>


                </form>

            </div>
            
        </div>

        <div class ="container"> <p class = "review font-italic text-center">Business Catalogs</p></div>

    </div>

<div class = "container ">

    <div class = "row">

        <div class = "col-sm-4">

            <div class = "card cardheight">

                <img class = "card-img-top imgheight" src="./images/flight/singapore1.jpg" alt = ""/>

                <div class ="card-body">

                <h4 class="card-tite"> Singapore Airline</h4>

                <p class ="card-text">Singapore Airlines Limited is the flag carrier airline of Singapore with its 
                    hub at Singapore Changi Airport. The airline uses the Singapore Girl as 
                    its central figure in corporate branding</p>

                <button type ="button" class ="btn btn-success" data-toggle="collapse" data-target ="#demo">
                    Read Review</button>

                <div id ="demo" class ="collapse">

                <table class="table">

                    <thead><tr><th>People</th><th>Reviews</th></tr></thead>

                    <tbody>

                    <tr>
                        <td><img src="" alt=""/><p>Augustine Ezinwa</p></td> 
                        <td>I love this place,so awesome</td>

                    </tr>

                </tbody>

                </table>
                <button type ="button" class ="btn btn-primary" data-toggle="collapse" data-target ="#demo">
                close Review</button>
            </div>



        </div>

    </div>
</div>

<div class = "col-sm-4">

    <div class = "card cardheight">

        <img class = "card-img-top imgheight" src="./images/restaurants/celler/celler1.jpg" alt = ""/>

        <div class ="card-body">

        <h4 class="card-tite"> El Celler de Can Roca</h4>

        <p class ="card-text">El Celler de Can Roca is a restaurant in Girona, Catalonia,
             Spain which was opened in 1986 by the Roca brothers, Joan, Josep and Jordi.</p>

        <button type ="button" class ="btn btn-success" data-toggle="collapse" data-target ="#demo1">
        Read Review</button>

        <div id ="demo1" class ="collapse">
    
        <table class="table">

             <thead><tr><th>People</th><th>Reviews</th></tr></thead>
    
            <tbody>

             <tr>
                <td><img src="" alt=""/><p>Augustine Ezinwa</p></td> 
                <td>I love this place,so awesome</td>
        
            </tr>
        
        </tbody>
    
    </table>
        <button type ="button" class ="btn btn-primary" data-toggle="collapse" data-target ="#demo1">
        close Review</button>
            </div>
    </div>

    </div>

</div>


<div class = "col-sm-4">

    <div class = "card cardheight">

        <img class = "card-img-top imgheight" src="./images/hotels/dubai/emiratepalace3.jpg" alt = ""/>

        <div class ="card-body">

        <h4 class="card-tite"> Emirate Palace Hotel, Abudabi</h4>

        <p class ="card-text">The Emirates Palace (Arabic: قصر الإمارات) is a luxury hotel in Abu Dhabi,
             United Arab Emirates operated by Kempinski and opened in February 2005.</p>

        <button type ="button" class ="btn btn-success" data-toggle="collapse" data-target ="#demo2">
        Read Review</button>

        <div id ="demo2" class ="collapse">

            <table class="table">

                <thead><tr><th>People</th><th>Reviews</th></tr></thead>

                <tbody>

                <tr>
                <td><img src="" alt=""/><p>Augustine Ezinwa</p></td> 
                 <td>I love this place,so awesome</td>

                </tr>

        </tbody>

    </table>
    <button type ="button" class ="btn btn-primary" data-toggle="collapse" data-target ="#demo2">
    close Review</button>
        
            </div>

        </div>

    </div>

</div>

</div>

<div class = "row">

    <div class = "col-sm-4">

        <div class = "card cardheight">
    
        <img class = "card-img-top imgheight" src="./images/recreation/buschgarden.jpg" alt = ""/>
    
        <div class ="card-body">
    
         <h4 class="card-tite">Busch Gardens Tampa Bay</h4>
    
            <p class ="card-text">Busch Gardens Tampa is a 335-acre African-themed animal
                 theme park located in the city of Tampa, Florida.</p>
    
            <button type ="button" class ="btn btn-success" data-toggle="collapse" data-target ="#demo3">
                                    Read Review</button>
                
        <div id ="demo3" class ="collapse">
            
        <table class="table">

            <thead><tr><th>People</th><th>Reviews</th></tr></thead>
            
            <tbody>

                <tr>
                    <td><img src="" alt=""/><p>Augustine Ezinwa</p></td> 
                    <td>I love this place,so awesome</td>
                
                </tr>
                
            </tbody>
            
        </table>
        <button type ="button" class ="btn btn-primary" data-toggle="collapse" data-target ="#demo3">
                close Review</button>
</div>

    

</div>
    
</div>

</div>

<div class = "col-sm-4">

<div class = "card cardheight">

    <img class = "card-img-top imgheight" src="./images/hotels/turkey/mardanpalace2.jpg" alt = ""/>

    <div class ="card-body">

    <h4 class="card-tite">Mardan Palace,Turkey</h4>

    <p class ="card-text">Mardan Palace Antalya whics is one of the Europe's Leading Luxury Hotels, is waiting to offer you a luxurious stay with its
         exceptional Istanbul and Ottoman architecture, extravagant luxury and royal comfort.</p>

    <button type ="button" class ="btn btn-success" data-toggle="collapse" data-target ="#demo4">
            Read Review</button>

            <div id ="demo4" class ="collapse">
                    
                <table class="table">

                    <thead><tr><th>People</th><th>Reviews</th></tr></thead>
                    
                    <tbody>

                        <tr>
                            <td><img src="" alt=""/><p>Augustine Ezinwa</p></td> 
                            <td>I love this place,so awesome</td>
                        
                        </tr>
                        
                    </tbody>
                    
                </table>
                <button type ="button" class ="btn btn-primary" data-toggle="collapse" data-target ="#demo4">
                        close Review</button>
            </div>

            

    </div>
            
</div>

</div>
            

<div class = "col-sm-4">

    <div class = "card cardheight">
        
        <img class = "card-img-top imgheight" src="./images/flight/etihad/etihad2.jpg" alt = ""/>

        <div class ="card-body">

            <h4 class="card-tite"> Etihad Airways</h4>

            <p class ="card-text">Etihad Airways is a flag carrier and the second-largest airline of the UAE. Its head office is in Khalifa City,
                 Abu Dhabi, near Abu Dhabi International Airport. Etihad commenced operations in November 2003</p>

                <button type ="button" class ="btn btn-success" data-toggle="collapse" data-target ="#demo5">
                     Read Review</button>

        <div id ="demo5" class ="collapse">
                
        <table class="table">

            <thead><tr><th>People</th><th>Reviews</th></tr></thead>
            
            <tbody>

                <tr>
                    <td><img src="" alt=""/><p>Augustine Ezinwa</p></td> 
                    <td>I love this place,so awesome</td>
                
                </tr>
                
            </tbody>
            
        </table>
        <button type ="button" class ="btn btn-primary" data-toggle="collapse" data-target ="#demo5">
                close Review</button>
        </div>

        

</div>
        
</div>
</div>

</div>

<div class = "row">

        <div class = "col-sm-4">

            <div class = "card cardheight">
                    
                <img class = "card-img-top imgheight" src="./images/hotels/bahamas/atlantis3.jpg" alt = ""/>
                    
                    <div class ="card-body">
                    
                        <h4 class="card-tite"> Atlantis Paradis Island</h4>
                    
                            <p class ="card-text">Atlantis Paradise Island is an ocean-themed resort on Paradise Island in the Bahamas.
                                 It features a variety of accommodations built around Aquaventure, a 141-acre waterscape, which includes fresh and saltwater lagoons, pools, marine habitats, and water slides and river rides.</p>
                    
                        <button type ="button" class ="btn btn-success" data-toggle="collapse" data-target ="#demo6">
                                                    Read Review</button>
                                
                    <div id ="demo6" class ="collapse">
                            
                        <table class="table">

                            <thead><tr><th>People</th><th>Reviews</th></tr></thead>
                            
                            <tbody>

                                <tr>
                                    <td><img src="" alt=""/><p>Augustine Ezinwa</p></td> 
                                    <td>I love this place,so awesome</td>
                                
                                </tr>
                                
                            </tbody>
                            
                        </table>
                        <button type ="button" class ="btn btn-primary" data-toggle="collapse" data-target ="#demo6">
                                close Review</button>
                </div>

                    

            </div>
                    
        </div>

        </div>

        <div class = "col-sm-4">

                <div class = "card cardheight">

                    <img class = "card-img-top imgheight" src="./images/flight/korea/korea1.jpg" alt = ""/>

                    <div class ="card-body">

                    <h4 class="card-tite">Korean AirLines </h4>

                    <p class ="card-text">Korean Air Lines Co., Ltd., operating as Korean Air, is the largest airline and flag carrier of South Korea based on fleet size, 
                        international destinations and international flights.</p>

                    <button type ="button" class ="btn btn-success" data-toggle="collapse" data-target ="#demo7">
                            Read Review</button>
        
                            <div id ="demo7" class ="collapse">
                                    
                                <table class="table">

                                    <thead><tr><th>People</th><th>Reviews</th></tr></thead>
                                    
                                    <tbody>

                                        <tr>
                                            <td><img src="" alt=""/><p>Augustine Ezinwa</p></td> 
                                            <td>I love this place,so awesome</td>
                                        
                                        </tr>
                                        
                                    </tbody>
                                    
                                </table>
                                <button type ="button" class ="btn btn-primary" data-toggle="collapse" data-target ="#demo7">
                                        close Review</button>
                            </div>

                    </div>
                            
                </div>
            
        </div>
                            
        
        <div class = "col-sm-4">

                <div class = "card cardheight">
                        
                <img class = "card-img-top imgheight" src="./images/flight/japan/japan2.jpg" alt = ""/>

                <div class ="card-body">

                <h4 class="card-tite">Japan Air</h4>

                <p class ="card-text">Japan Airlines Co., Ltd., is the flag carrier airline of Japan and the second
                     largest in the country behind All Nippon Airways.</p>

                <button type ="button" class ="btn btn-success" data-toggle="collapse" data-target ="#demo8">
                        Read Review</button>
    
                        <div id ="demo8" class ="collapse">
                                
                        <table class="table">

                            <thead><tr><th>People</th><th>Reviews</th></tr></thead>
                            
                            <tbody>

                                <tr>
                                    <td><img src="" alt=""/><p>Augustine Ezinwa</p></td> 
                                    <td>I love this place,so awesome</td>
                                
                                </tr>
                                
                            </tbody>
                            
                        </table>
                        <button type ="button" class ="btn btn-primary" data-toggle="collapse" data-target ="#demo8">
                                close Review</button>
                        </div>

                        

                </div>
                        
            </div>
        </div>

    </div>

    <div class = "row">
            
<div class = "col-sm-4">

<div class = "card cardheight">

<img class = "card-img-top imgheight" src="./images/supermarket/shoprite/shoprite2.jpg" alt = ""/>

<div class ="card-body">

<h4 class="card-tite"> Shoprite Nigeria</h4>

<p class ="card-text">Shoprite remains the number one supermarket in Nigeria. Their philosophy is bringing customers with lower prices they can 
    trust on their basic food and household requirements in a convenient shopping environment.</p>

<button type ="button" class ="btn btn-success" data-toggle="collapse" data-target ="#demo9">
                Read Review</button>

<div id ="demo9" class ="collapse">

<table class="table">

<thead><tr><th>People</th><th>Reviews</th></tr></thead>

<tbody>

<tr>
<td><img src="" alt=""/><p>Augustine Ezinwa</p></td> 
<td>I love this place,so awesome</td>

</tr>

</tbody>

</table>
<button type ="button" class ="btn btn-primary" data-toggle="collapse" data-target ="#demo9">
close Review</button>
</div>



</div>

</div>

</div>

<div class = "col-sm-4">

<div class = "card cardheight">

<img class = "card-img-top imgheight" src="./images/supermarket/sommerfield/sommerfield2.jpg" alt = ""/>

<div class ="card-body">

<h4 class="card-tite">Sommerfield Supermarket</h4>

<p class ="card-text">Somerfield was a chain of small to medium-sized supermarkets operating in the United Kingdom. 
    The company also previously owned the Kwik Save chain of discount food stores</p>

<button type ="button" class ="btn btn-success" data-toggle="collapse" data-target ="#demo10">
Read Review</button>

<div id ="demo10" class ="collapse">

<table class="table">

<thead><tr><th>People</th><th>Reviews</th></tr></thead>

<tbody>

    <tr>
        <td><img src="" alt=""/><p>Augustine Ezinwa</p></td> 
        <td>I love this place,so awesome</td>
    
    </tr>
    
</tbody>

</table>
<button type ="button" class ="btn btn-primary" data-toggle="collapse" data-target ="#demo10">
    close Review</button>
</div>



</div>

</div>

</div>


<div class = "col-sm-4">

    <div class = "card cardheight">

    <img class = "card-img-top imgheight" src="./images/flight/austraila/virgin.jpg" alt = ""/>

    <div class ="card-body">

        <h4 class="card-tite">Virgin Austraila</h4>

        <p class ="card-text">Virgin Australia Airlines Pty Ltd, formerly Virgin Blue Airlines, is Australia's second-largest airline after Qantas
             and it is the largest airline by fleet size to use the 'Virgin' brand. </p>

        <button type ="button" class ="btn btn-success" data-toggle="collapse" data-target ="#demo11">
        Read Review</button>

        <div id ="demo11" class ="collapse">

        <table class="table">

        <thead><tr><th>People</th><th>Reviews</th></tr></thead>

        <tbody>

        <tr>
            <td><img src="" alt=""/><p>Augustine Ezinwa</p></td> 
            <td>I love this place,so awesome</td>

        </tr>

        </tbody>

        </table>
        <button type ="button" class ="btn btn-primary" data-toggle="collapse" data-target ="#demo11">
        close Review</button>
        </div>



</div>

</div>
</div>

</div>


<div class = "row">

<div class = "col-sm-4">

<div class = "card cardheight">

<img class = "card-img-top imgheight" src="./images/recreation/games/pittsburghtv.jpg" alt = ""/>

<div class ="card-body">

    <h4 class="card-tite"> Pittsburgh View Center</h4>

        <p class ="card-text">Pittsburgh view center is an avenue where you can relax
             and view the latest sports and leagues, We feature the latest tv shows
             such as game of thrones and black panther.
        </p>

    <button type ="button" class ="btn btn-success" data-toggle="collapse" data-target ="#demo12">
                                Read Review</button>
            
<div id ="demo12" class ="collapse">
        
    <table class="table">

        <thead><tr><th>People</th><th>Reviews</th></tr></thead>
        
        <tbody>

            <tr>
                <td><img src="" alt=""/><p>Augustine Ezinwa</p></td> 
                <td>I love this place,so awesome</td>
            
            </tr>
            
        </tbody>
        
    </table>
    <button type ="button" class ="btn btn-primary" data-toggle="collapse" data-target ="#demo12">
            close Review</button>
</div>



</div>

</div>

</div>

<div class = "col-sm-4">

<div class = "card ">

<img class = "card-img-top imgheight" src="./images/restaurants/noma2.jpg" alt = ""/>

<div class ="card-body">

<h4 class="card-tite"> Noma Restaurant</h4>

<p class ="card-text">Noma is a two-Michelin-star restaurant run by chef René Redzepi in Copenhagen, Denmark. 
    The name is a portmanteau of the two Danish words "nordisk" (Nordic) and "mad" (food).
     Opened in 2003, the restaurant is known for its reinvention and interpretation
      of the Nordic Cuisine</p>

<button type ="button" class ="btn btn-success" data-toggle="collapse" data-target ="#demo13">
        Read Review</button>

        <div id ="demo13" class ="collapse">
                
            <table class="table">

                <thead><tr><th>People</th><th>Reviews</th></tr></thead>
                
                <tbody>

                    <tr>
                        <td><img src="" alt=""/><p>Augustine Ezinwa</p></td> 
                        <td>I love this place,so awesome</td>
                    
                    </tr>
                    
                </tbody>
                
            </table>
            <button type ="button" class ="btn btn-primary" data-toggle="collapse" data-target ="#demo13">
                    close Review</button>
        </div>

        

</div>
        
</div>

</div>
        

<div class = "col-sm-4">

<div class = "card cardheight">
    
<img class = "card-img-top imgheight" src="./images/restaurants/madison/madison1.jpg" alt = ""/>

<div class ="card-body">

<h4 class="card-tite">Eleven Madison Park</h4>

<p class ="card-text">Eleven Madison Park is a fine dining restaurant located in the heart of New York City. 
    The restaurant overlooks one of the most beautiful parks in Manhattan, Madison Square Park,
     and sits at the base of a historic Art Deco building on the corner of 24th Street and Madison Avenue.</p>

<button type ="button" class ="btn btn-success" data-toggle="collapse" data-target ="#demo14">
    Read Review</button>

    <div id ="demo14" class ="collapse">
            
    <table class="table">

        <thead><tr><th>People</th><th>Reviews</th></tr></thead>
        
        <tbody>

            <tr>
                <td><img src="" alt=""/><p>Augustine Ezinwa</p></td> 
                <td>I love this place,so awesome</td>
            
            </tr>
            
        </tbody>
        
    </table>
    <button type ="button" class ="btn btn-primary" data-toggle="collapse" data-target ="#demo14">
            close Review</button>
    </div>

    

</div>
    
</div>
</div>

</div>

<div class = "row">

    <div class = "col-sm-4">

        <div class = "card cardheight">
                
            <img class = "card-img-top imgheight" src="./images/restaurants/dom/dom4.jpg" alt = ""/>
                
                <div class ="card-body">
                
                    <h4 class="card-tite">D. O. M </h4>
                
                        <p class ="card-text">D.O.M. is Alex Atala, and Alex Atala is the best exponent of so-called new Brazilian cuisine.
                             Bringing to the fore Tupinquim ingredients that were overlooked by or unfamiliar to other renowned chefs, such as priprioca, black rice and pupunha palm heart, his cooking surprises and stimulates the palate,
                             offering a veritable journey through the flavours, textures and produce of Brazil.</p>
                
                    <button type ="button" class ="btn btn-success" data-toggle="collapse" data-target ="#demo16">
                                                Read Review</button>
                            
                <div id ="demo16" class ="collapse">
                        
                    <table class="table">

                        <thead><tr><th>People</th><th>Reviews</th></tr></thead>
                        
                        <tbody>

                            <tr>
                                <td><img src="" alt=""/><p>Augustine Ezinwa</p></td> 
                                <td>I love this place,so awesome</td>
                            
                            </tr>
                            
                        </tbody>
                        
                    </table>
                    <button type ="button" class ="btn btn-primary" data-toggle="collapse" data-target ="#demo16">
                            close Review</button>
            </div>

                

        </div>
                
    </div>

    </div>

    <div class = "col-sm-4">

            <div class = "card cardheight">

                <img class = "card-img-top imgheight" src="./images/recreation/forestpark.jpg" alt = ""/>

                <div class ="card-body">

                <h4 class="card-tite"> Forest park, NY</h4>

                <p class ="card-text">Forest Park is a park in the New York City borough of Queens. 
                    It has an area of 538 acres (218 ha), containing 165 acres of trees.
                     The park is operated and maintained by the New York City Department of Parks and Recreation. </p>

                <button type ="button" class ="btn btn-success" data-toggle="collapse" data-target ="#demo17">
                        Read Review</button>
    
                        <div id ="demo17" class ="collapse">
                                
                            <table class="table">

                                <thead><tr><th>People</th><th>Reviews</th></tr></thead>
                                
                                <tbody>

                                    <tr>
                                        <td><img src="" alt=""/><p>Augustine Ezinwa</p></td> 
                                        <td>I love this place,so awesome</td>
                                    
                                    </tr>
                                    
                                </tbody>
                                
                            </table>
                            <button type ="button" class ="btn btn-primary" data-toggle="collapse" data-target ="#demo17">
                                    close Review</button>
                        </div>

                        

                </div>
                        
            </div>
        
    </div>
                        
    
    <div class = "col-sm-4">

            <div class = "card cardheight">
                    
            <img class = "card-img-top imgheight" src="./images/recreation/pattersonpark.jpg" alt = ""/>

            <div class ="card-body">

            <h4 class="card-tite">Patterson Park</h4>

            <p class ="card-text">Patterson Park is an urban park in Southeast Baltimore, Maryland, United States,
                 adjacent to the neighborhoods of Canton, Highlandtown, Patterson Park, and Butchers Hill</p>

            <button type ="button" class ="btn btn-success" data-toggle="collapse" data-target ="#demo18">
                    Read Review</button>

                    <div id ="demo18" class ="collapse">
                            
                    <table class="table">

                        <thead><tr><th>People</th><th>Reviews</th></tr></thead>
                        
                        <tbody>

                            <tr>
                                <td><img src="" alt=""/><p>Augustine Ezinwa</p></td> 
                                <td>I love this place,so awesome</td>
                            
                            </tr>
                            
                        </tbody>
                        
                    </table>
                    <button type ="button" class ="btn btn-primary" data-toggle="collapse" data-target ="#demo18">
                            close Review</button>
                    </div>

                    

            </div>
                    
        </div>
    </div>

</div>    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Login to WEConnect!</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body"> 
                <form>
                <div class="form-group">
                    <label for ="userName">Enter Fullname</label>
                    <input type="text1" class="form-control" placeholder="Enter Your full Name" required/>
                    
            </div>
            <div class="form-group">
                    <label for ="password">Enter Password</label>
                    <input type="password" class="form-control" placeholder="Enter Your Password" required/>
                    
            </div>
            <button type="submit" class="btn btn-success">Login</button>
                </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  
                </div>
              </div>
            </div>
          </div>
    <!--modal box for sign-up-->

          <div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLongTitle">Sign up to WEConnect!</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                        
                            <form>
                                    <div class="form-group">
                                        <label for ="userName">Enter Full Name</label>
                                        <input type="text1" class="form-control" placeholder="Enter Your Full Name" required/>
                                        
                                </div>
                                <div class="form-group">
                                        <label for ="password">Enter Password</label>
                                        <input type="password" class="form-control" placeholder="Enter Your Password" required/>
                                        <div class="form-group">
                                                <label for ="password">Confirm Password</label>
                                                <input type="password" class="form-control" placeholder="Enter Your Password" required/>
            
                                        </div>
                                        <div class="form-group">
                                                <label for="profileImage">Upload Profile Image </label>
                                                <input type="file" class="form-control-file" id="profileImage">
                                              </div> 
                                              <div class="form-group">
                                                    <label for="exampleFormControlTextarea1">Tell us a little about yourself
                                                    </label>
                                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                                                  </div>
                                <button type="submit" class="btn btn-success">Sign up</button>
                                    </form>
                        </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  
                </div>
              </div>
            </div>
          </div>
</div> 


<div class = "footer">
        
            <div class ="container">
        
                <div class = "row"> 
        
                    <div class ="col-sm-12">
        
                        &copy 2018 WeConnect
        
                    </div>
        
                </div>
        
            </div>
        
         </div>
        
        


            
    

       

    <script src ="./js/index.js"></script>
    <script src = "./js/jquery.min.js"></script>
    <script src = "./js/bootstrap.bundle.min.js"></script>

</body>


</html>