<!DOCTYPE html>
<html lang ="en">
<head>

<meta name = "view-port" content = "width=device-width initial-scale = 1.0"/>

<!--<link rel = "stylesheet" type = "text/css" href = "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>-->
<link rel = "stylesheet" type = "text/css" href = "./styles/index.css"/>
<link rel = "stylesheet" type = "text/css" href ="./styles/bootstrap.min.css" />


</head>

<body>

    <div class ="header">
        
        <div class ="container">
    
            <div class ="row">
    
                <div class = "col-sm">
    
                <h1 class ="col">We<span><img src ="./images/w.gif" alt =""/></span>Connect</h1>
    
                </div>
    
            </div>
    
            <div class ="row">
    
                <div class = "col-sm">
    
                       
    
                    <button class ="nav-item btn1 btn-success"data-toggle="modal" data-target="#exampleModalCenter">Login</button>
    
                    <button class ="nav-item btn2 btn-success"data-toggle="modal" data-target="#exampleModalCenter2">Register</button>
    
    
                </div>
    
            </div>
    
        </div>

        
    </div>
 
    <nav class="navbar navbar-dark navbar-expand-lg bg-dark justify-content-center">
            
                <div class ="container-fluid">
            <a class="navbar-brand"style = "float:left"  href="#">Business Catalog Page</a>
    
        
            
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                    <span class="navbar-toggler-icon"></span>
                  </button>
            
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav ">
                    <li class="nav-item active nbar">
                        <a class="nav-link" href="#">Home <span class="sr-only"></span></a>
                    </li>
                    <li class="nav-item nav-btn nbar">
                        <a class="nav-link" href="#">Flight</a>
                    </li>
                    <li class="nav-item nav-btn nbar">
                        <a class="nav-link" href="#">Hotel</a>
                    </li>

                    <li class="nav-item nav-btn nbar">
                        <a class="nav-link" href="#">Restaurant</a>
                        </li>
                    
                    <li class="nav-item nav-btn nbar">
                        <a class="nav-link" href="#">Sports</a>
                    </li>

                    <li class="nav-item nav-btn nbar">
                        <a class="nav-link" href="#">SuperMarket</a>
                        </li>
                    </ul>
                </div>
            </div>
        
      </nav>
    
      

      
      <div class ="container">

        
            <div class = "row">
                    
                    <div class ="col-sm-12">
                            <div class="btn-group dropright"style = "margin-top:29px">
                                    <button type="button" class="btn btn-lg btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                      Search By
                                    </button>
                                    <div class="dropdown-menu bg-light">
                                            <div class="dropdown">
                                                    <button class="dropbtn">Location</button>
                                                    <div class="dropdown-content ">
                                                      <a href="#">Link 1</a>
                                                      <a href="#">Link 2</a>
                                                      <a href="#">Link 3</a>
                                                    </div>
                                                  </div>

                                            <div class="dropdown">
                                                <button class="dropbtn">Category</button>
                                                <div class="dropdown-content">
                                                    <a href="#">Link 1</a>
                                                    <a href="#">Link 2</a>
                                                    <a href="#">Link 3</a>
                                                </div>
                                                </div>
                                    </div>
                                </div>

                            </div>
                            

                    </div>
                    
                
      <div class = "row">
            
            <div class ="col-sm-12">
                
                <form class ="form1">
                
                    <input type = "text" id ="search" name ="search" placeholder="Search business" />
                    
                        <span><button class ="btn btn-success btn2">Search</button></span>


                </form>

            </div>
            
        </div>

        <div class ="container"> <p class = "review font-italic text-center">Business Catalogs</p></div>

    </div>

<div class = "container ">

    <div class = "row">

        <div class = "col-sm-4">

            <div class = "card ">

                <img class = "card-img-top" src="./images/book3.jpg" alt = ""/>

                <div class ="card-body">

                <h4 class="card-tite"> Company Name</h4>

                <p class ="card-text">Some quick example text on card title</p>

                <button type ="button" class ="btn btn-success" data-toggle="collapse" data-target ="#demo">
                    Read Review</button>

                <div id ="demo" class ="collapse">

                <table class="table">

                    <thead><tr><th>People</th><th>Reviews</th></tr></thead>

                    <tbody>

                    <tr>
                        <td><img src="" alt=""/><p>Augustine Ezinwa</p></td> 
                        <td>I love this place,so awesome</td>

                    </tr>

                </tbody>

                </table>
                <button type ="button" class ="btn btn-primary" data-toggle="collapse" data-target ="#demo">
                close Review</button>
            </div>



        </div>

    </div>
</div>

<div class = "col-sm-4">

    <div class = "card ">

        <img class = "card-img-top" src="./images/book3.jpg" alt = ""/>

        <div class ="card-body">

        <h4 class="card-tite"> Company Name</h4>

        <p class ="card-text">Some quick example text on card title</p>

        <button type ="button" class ="btn btn-success" data-toggle="collapse" data-target ="#demo1">
        Read Review</button>

        <div id ="demo1" class ="collapse">
    
        <table class="table">

             <thead><tr><th>People</th><th>Reviews</th></tr></thead>
    
            <tbody>

             <tr>
                <td><img src="" alt=""/><p>Augustine Ezinwa</p></td> 
                <td>I love this place,so awesome</td>
        
            </tr>
        
        </tbody>
    
    </table>
        <button type ="button" class ="btn btn-primary" data-toggle="collapse" data-target ="#demo1">
        close Review</button>
            </div>
    </div>

    </div>

</div>


<div class = "col-sm-4">

    <div class = "card ">

        <img class = "card-img-top" src="./images/book3.jpg" alt = ""/>

        <div class ="card-body">

        <h4 class="card-tite"> Company Name</h4>

        <p class ="card-text">Some quick example text on card title</p>

        <button type ="button" class ="btn btn-success" data-toggle="collapse" data-target ="#demo2">
        Read Review</button>

        <div id ="demo2" class ="collapse">

            <table class="table">

                <thead><tr><th>People</th><th>Reviews</th></tr></thead>

                <tbody>

                <tr>
                <td><img src="" alt=""/><p>Augustine Ezinwa</p></td> 
                 <td>I love this place,so awesome</td>

                </tr>

        </tbody>

    </table>
    <button type ="button" class ="btn btn-primary" data-toggle="collapse" data-target ="#demo2">
    close Review</button>
        
            </div>

        </div>

    </div>

</div>

</div>

<div class = "row">

    <div class = "col-sm-4">

        <div class = "card ">
    
        <img class = "card-img-top" src="./images/book3.jpg" alt = ""/>
    
        <div class ="card-body">
    
         <h4 class="card-tite"> Company Name</h4>
    
            <p class ="card-text">Some quick example text on card title</p>
    
            <button type ="button" class ="btn btn-success" data-toggle="collapse" data-target ="#demo3">
                                    Read Review</button>
                
        <div id ="demo3" class ="collapse">
            
        <table class="table">

            <thead><tr><th>People</th><th>Reviews</th></tr></thead>
            
            <tbody>

                <tr>
                    <td><img src="" alt=""/><p>Augustine Ezinwa</p></td> 
                    <td>I love this place,so awesome</td>
                
                </tr>
                
            </tbody>
            
        </table>
        <button type ="button" class ="btn btn-primary" data-toggle="collapse" data-target ="#demo3">
                close Review</button>
</div>

    

</div>
    
</div>

</div>

<div class = "col-sm-4">

<div class = "card ">

    <img class = "card-img-top" src="./images/book3.jpg" alt = ""/>

    <div class ="card-body">

    <h4 class="card-tite"> Company Name</h4>

    <p class ="card-text">Some quick example text on card title</p>

    <button type ="button" class ="btn btn-success" data-toggle="collapse" data-target ="#demo4">
            Read Review</button>

            <div id ="demo4" class ="collapse">
                    
                <table class="table">

                    <thead><tr><th>People</th><th>Reviews</th></tr></thead>
                    
                    <tbody>

                        <tr>
                            <td><img src="" alt=""/><p>Augustine Ezinwa</p></td> 
                            <td>I love this place,so awesome</td>
                        
                        </tr>
                        
                    </tbody>
                    
                </table>
                <button type ="button" class ="btn btn-primary" data-toggle="collapse" data-target ="#demo4">
                        close Review</button>
            </div>

            

    </div>
            
</div>

</div>
            

<div class = "col-sm-4">

    <div class = "card ">
        
        <img class = "card-img-top" src="./images/book3.jpg" alt = ""/>

        <div class ="card-body">

            <h4 class="card-tite"> Company Name</h4>

            <p class ="card-text">Some quick example text on card title</p>

                <button type ="button" class ="btn btn-success" data-toggle="collapse" data-target ="#demo5">
                     Read Review</button>

        <div id ="demo5" class ="collapse">
                
        <table class="table">

            <thead><tr><th>People</th><th>Reviews</th></tr></thead>
            
            <tbody>

                <tr>
                    <td><img src="" alt=""/><p>Augustine Ezinwa</p></td> 
                    <td>I love this place,so awesome</td>
                
                </tr>
                
            </tbody>
            
        </table>
        <button type ="button" class ="btn btn-primary" data-toggle="collapse" data-target ="#demo5">
                close Review</button>
        </div>

        

</div>
        
</div>
</div>

</div>

<div class = "row">

        <div class = "col-sm-4">

            <div class = "card ">
                    
                <img class = "card-img-top" src="./images/book3.jpg" alt = ""/>
                    
                    <div class ="card-body">
                    
                        <h4 class="card-tite"> Company Name</h4>
                    
                            <p class ="card-text">Some quick example text on card title</p>
                    
                        <button type ="button" class ="btn btn-success" data-toggle="collapse" data-target ="#demo6">
                                                    Read Review</button>
                                
                    <div id ="demo6" class ="collapse">
                            
                        <table class="table">

                            <thead><tr><th>People</th><th>Reviews</th></tr></thead>
                            
                            <tbody>

                                <tr>
                                    <td><img src="" alt=""/><p>Augustine Ezinwa</p></td> 
                                    <td>I love this place,so awesome</td>
                                
                                </tr>
                                
                            </tbody>
                            
                        </table>
                        <button type ="button" class ="btn btn-primary" data-toggle="collapse" data-target ="#demo6">
                                close Review</button>
                </div>

                    

            </div>
                    
        </div>

        </div>

        <div class = "col-sm-4">

                <div class = "card ">

                    <img class = "card-img-top" src="./images/book3.jpg" alt = ""/>

                    <div class ="card-body">

                    <h4 class="card-tite"> Company Name</h4>

                    <p class ="card-text">Some quick example text on card title</p>

                    <button type ="button" class ="btn btn-success" data-toggle="collapse" data-target ="#demo7">
                            Read Review</button>
        
                            <div id ="demo7" class ="collapse">
                                    
                                <table class="table">

                                    <thead><tr><th>People</th><th>Reviews</th></tr></thead>
                                    
                                    <tbody>

                                        <tr>
                                            <td><img src="" alt=""/><p>Augustine Ezinwa</p></td> 
                                            <td>I love this place,so awesome</td>
                                        
                                        </tr>
                                        
                                    </tbody>
                                    
                                </table>
                                <button type ="button" class ="btn btn-primary" data-toggle="collapse" data-target ="#demo7">
                                        close Review</button>
                            </div>

                    </div>
                            
                </div>
            
        </div>
                            
        
        <div class = "col-sm-4">

                <div class = "card ">
                        
                <img class = "card-img-top" src="./images/book3.jpg" alt = ""/>

                <div class ="card-body">

                <h4 class="card-tite"> Company Name</h4>

                <p class ="card-text">Some quick example text on card title</p>

                <button type ="button" class ="btn btn-success" data-toggle="collapse" data-target ="#demo8">
                        Read Review</button>
    
                        <div id ="demo8" class ="collapse">
                                
                        <table class="table">

                            <thead><tr><th>People</th><th>Reviews</th></tr></thead>
                            
                            <tbody>

                                <tr>
                                    <td><img src="" alt=""/><p>Augustine Ezinwa</p></td> 
                                    <td>I love this place,so awesome</td>
                                
                                </tr>
                                
                            </tbody>
                            
                        </table>
                        <button type ="button" class ="btn btn-primary" data-toggle="collapse" data-target ="#demo8">
                                close Review</button>
                        </div>

                        

                </div>
                        
            </div>
        </div>

    </div>

    <div class = "row">
            
<div class = "col-sm-4">

<div class = "card ">

<img class = "card-img-top" src="./images/book3.jpg" alt = ""/>

<div class ="card-body">

<h4 class="card-tite"> Company Name</h4>

<p class ="card-text">Some quick example text on card title</p>

<button type ="button" class ="btn btn-success" data-toggle="collapse" data-target ="#demo9">
                Read Review</button>

<div id ="demo9" class ="collapse">

<table class="table">

<thead><tr><th>People</th><th>Reviews</th></tr></thead>

<tbody>

<tr>
<td><img src="" alt=""/><p>Augustine Ezinwa</p></td> 
<td>I love this place,so awesome</td>

</tr>

</tbody>

</table>
<button type ="button" class ="btn btn-primary" data-toggle="collapse" data-target ="#demo9">
close Review</button>
</div>



</div>

</div>

</div>

<div class = "col-sm-4">

<div class = "card ">

<img class = "card-img-top" src="./images/book3.jpg" alt = ""/>

<div class ="card-body">

<h4 class="card-tite"> Company Name</h4>

<p class ="card-text">Some quick example text on card title</p>

<button type ="button" class ="btn btn-success" data-toggle="collapse" data-target ="#demo10">
Read Review</button>

<div id ="demo10" class ="collapse">

<table class="table">

<thead><tr><th>People</th><th>Reviews</th></tr></thead>

<tbody>

    <tr>
        <td><img src="" alt=""/><p>Augustine Ezinwa</p></td> 
        <td>I love this place,so awesome</td>
    
    </tr>
    
</tbody>

</table>
<button type ="button" class ="btn btn-primary" data-toggle="collapse" data-target ="#demo10">
    close Review</button>
</div>



</div>

</div>

</div>


<div class = "col-sm-4">

    <div class = "card ">

    <img class = "card-img-top" src="./images/book3.jpg" alt = ""/>

    <div class ="card-body">

        <h4 class="card-tite"> Company Name</h4>

        <p class ="card-text">Some quick example text on card title</p>

        <button type ="button" class ="btn btn-success" data-toggle="collapse" data-target ="#demo11">
        Read Review</button>

        <div id ="demo11" class ="collapse">

        <table class="table">

        <thead><tr><th>People</th><th>Reviews</th></tr></thead>

        <tbody>

        <tr>
            <td><img src="" alt=""/><p>Augustine Ezinwa</p></td> 
            <td>I love this place,so awesome</td>

        </tr>

        </tbody>

        </table>
        <button type ="button" class ="btn btn-primary" data-toggle="collapse" data-target ="#demo11">
        close Review</button>
        </div>



</div>

</div>
</div>

</div>


<div class = "row">

<div class = "col-sm-4">

<div class = "card ">

<img class = "card-img-top" src="./images/book3.jpg" alt = ""/>

<div class ="card-body">

    <h4 class="card-tite"> Company Name</h4>

        <p class ="card-text">Some quick example text on card title</p>

    <button type ="button" class ="btn btn-success" data-toggle="collapse" data-target ="#demo12">
                                Read Review</button>
            
<div id ="demo12" class ="collapse">
        
    <table class="table">

        <thead><tr><th>People</th><th>Reviews</th></tr></thead>
        
        <tbody>

            <tr>
                <td><img src="" alt=""/><p>Augustine Ezinwa</p></td> 
                <td>I love this place,so awesome</td>
            
            </tr>
            
        </tbody>
        
    </table>
    <button type ="button" class ="btn btn-primary" data-toggle="collapse" data-target ="#demo12">
            close Review</button>
</div>



</div>

</div>

</div>

<div class = "col-sm-4">

<div class = "card ">

<img class = "card-img-top" src="./images/book3.jpg" alt = ""/>

<div class ="card-body">

<h4 class="card-tite"> Company Name</h4>

<p class ="card-text">Some quick example text on card title</p>

<button type ="button" class ="btn btn-success" data-toggle="collapse" data-target ="#demo13">
        Read Review</button>

        <div id ="demo13" class ="collapse">
                
            <table class="table">

                <thead><tr><th>People</th><th>Reviews</th></tr></thead>
                
                <tbody>

                    <tr>
                        <td><img src="" alt=""/><p>Augustine Ezinwa</p></td> 
                        <td>I love this place,so awesome</td>
                    
                    </tr>
                    
                </tbody>
                
            </table>
            <button type ="button" class ="btn btn-primary" data-toggle="collapse" data-target ="#demo13">
                    close Review</button>
        </div>

        

</div>
        
</div>

</div>
        

<div class = "col-sm-4">

<div class = "card ">
    
<img class = "card-img-top" src="./images/book3.jpg" alt = ""/>

<div class ="card-body">

<h4 class="card-tite"> Company Name</h4>

<p class ="card-text">Some quick example text on card title</p>

<button type ="button" class ="btn btn-success" data-toggle="collapse" data-target ="#demo14">
    Read Review</button>

    <div id ="demo14" class ="collapse">
            
    <table class="table">

        <thead><tr><th>People</th><th>Reviews</th></tr></thead>
        
        <tbody>

            <tr>
                <td><img src="" alt=""/><p>Augustine Ezinwa</p></td> 
                <td>I love this place,so awesome</td>
            
            </tr>
            
        </tbody>
        
    </table>
    <button type ="button" class ="btn btn-primary" data-toggle="collapse" data-target ="#demo14">
            close Review</button>
    </div>

    

</div>
    
</div>
</div>

</div>

<div class = "row">

    <div class = "col-sm-4">

        <div class = "card ">
                
            <img class = "card-img-top" src="./images/book3.jpg" alt = ""/>
                
                <div class ="card-body">
                
                    <h4 class="card-tite"> Company Name</h4>
                
                        <p class ="card-text">Some quick example text on card title</p>
                
                    <button type ="button" class ="btn btn-success" data-toggle="collapse" data-target ="#demo16">
                                                Read Review</button>
                            
                <div id ="demo16" class ="collapse">
                        
                    <table class="table">

                        <thead><tr><th>People</th><th>Reviews</th></tr></thead>
                        
                        <tbody>

                            <tr>
                                <td><img src="" alt=""/><p>Augustine Ezinwa</p></td> 
                                <td>I love this place,so awesome</td>
                            
                            </tr>
                            
                        </tbody>
                        
                    </table>
                    <button type ="button" class ="btn btn-primary" data-toggle="collapse" data-target ="#demo16">
                            close Review</button>
            </div>

                

        </div>
                
    </div>

    </div>

    <div class = "col-sm-4">

            <div class = "card ">

                <img class = "card-img-top" src="./images/book3.jpg" alt = ""/>

                <div class ="card-body">

                <h4 class="card-tite"> Company Name</h4>

                <p class ="card-text">Some quick example text on card title</p>

                <button type ="button" class ="btn btn-success" data-toggle="collapse" data-target ="#demo17">
                        Read Review</button>
    
                        <div id ="demo17" class ="collapse">
                                
                            <table class="table">

                                <thead><tr><th>People</th><th>Reviews</th></tr></thead>
                                
                                <tbody>

                                    <tr>
                                        <td><img src="" alt=""/><p>Augustine Ezinwa</p></td> 
                                        <td>I love this place,so awesome</td>
                                    
                                    </tr>
                                    
                                </tbody>
                                
                            </table>
                            <button type ="button" class ="btn btn-primary" data-toggle="collapse" data-target ="#demo17">
                                    close Review</button>
                        </div>

                        

                </div>
                        
            </div>
        
    </div>
                        
    
    <div class = "col-sm-4">

            <div class = "card ">
                    
            <img class = "card-img-top" src="./images/book3.jpg" alt = ""/>

            <div class ="card-body">

            <h4 class="card-tite"> Company Name</h4>

            <p class ="card-text">Some quick example text on card title</p>

            <button type ="button" class ="btn btn-success" data-toggle="collapse" data-target ="#demo18">
                    Read Review</button>

                    <div id ="demo18" class ="collapse">
                            
                    <table class="table">

                        <thead><tr><th>People</th><th>Reviews</th></tr></thead>
                        
                        <tbody>

                            <tr>
                                <td><img src="" alt=""/><p>Augustine Ezinwa</p></td> 
                                <td>I love this place,so awesome</td>
                            
                            </tr>
                            
                        </tbody>
                        
                    </table>
                    <button type ="button" class ="btn btn-primary" data-toggle="collapse" data-target ="#demo18">
                            close Review</button>
                    </div>

                    

            </div>
                    
        </div>
    </div>

</div>    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Login to WEConnect!</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body"> 
                <form>
                <div class="form-group">
                    <label for ="userName">Enter username or email</label>
                    <input type="text1" class="form-control" placeholder="Enter Your username or email" required/>
                    
            </div>
            <div class="form-group">
                    <label for ="password">Enter Password</label>
                    <input type="password" class="form-control" placeholder="Enter Your Password" required/>
                    
            </div>
            <button type="submit" class="btn btn-success">Login</button>
                </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  
                </div>
              </div>
            </div>
          </div>
    <!--modal box for sign-up-->

          <div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLongTitle">Sign up to WEConnect!</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                        
                            <form>
                                    <div class="form-group">
                                        <label for ="userName">Enter Full Name</label>
                                        <input type="text1" class="form-control" placeholder="Enter Your Full Name" required/>
                                        
                                </div>
                                
                                <div class="form-group">
                                    <label for ="userName">Enter email</label>
                                    <input type="text1" class="form-control" placeholder="Enter Your email" required/>
                                    
                            </div>

                                <div class="form-group">
                                        <label for ="password">Enter Password</label>
                                        <input type="password" class="form-control" placeholder="Enter Your Password" required/>
                                        <div class="form-group">
                                                <label for ="password">Confirm Password</label>
                                                <input type="password" class="form-control" placeholder="Enter Your Password" required/>
            
                                        </div>
                                        <div class="form-group">
                                                <label for="profileImage">Upload Profile Image </label>
                                                <input type="file" class="form-control-file" id="profileImage">
                                              </div> 
                                              <div class="form-group">
                                                    <label for="exampleFormControlTextarea1">Tell us a little about yourself
                                                    </label>
                                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                                                  </div>
                                <button type="submit" class="btn btn-success">Sign up</button>
                                    </form>
                        </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  
                </div>
              </div>
            </div>
          </div>
</div> 


<div class = "footer">
        
            <div class ="container">
        
                <div class = "row"> 
        
                    <div class ="col-sm-12">
        
                        &copy 2018 WeConnect
        
                    </div>
        
                </div>
        
            </div>
        
         </div>
        
        


            
    

       

    <script src ="./js/index.js"></script>
    <script src = "./js/jquery.min.js"></script>
    <script src = "./js/bootstrap.bundle.min.js"></script>

</body>


</html>