<!DOCTYPE html>
<html lang="en">
<head>
    <script>window.currentUser = null;</script>
    <meta name="viewport" content="width=device-width,initial-scale = 1,user-scalable=no,minimum-scale =1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <script>if (window.devicePixelRatio > 1) document.cookie = 'pixelRatio=' + window.devicePixelRatio + ';path=/;expires=Tue, 19 Jan 2038 03:14:07 GMT';</script>
    <title>WEConnect</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" type="text/css" href="./styles/index.css" />
    <link rel="stylesheet" type="text/css" href="./styles/bootstrap.min.css" />
</head>
<body>
        <nav class="navbar navbar-expand-lg navbar-light bg-dark">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03"
                  aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand text-white" href="#">WEConnect</a>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                  <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
                      <a class="nav-link text-white" href="#">Home
                        <span class="sr-only">(current)</span>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link text-white" href="#">Catalog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#">Sign up</a>
                      </li>
                  </ul>
                  <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                  </form>
                </div>
              </nav>
    <div class="container-fluid image-background">
        <div class = "row">
            <div class = "col-md-6 offset-md-3 mt-5"> <h1 class= 'text-white'>Welcome to WEConnect</h1></div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row mt-5">
            <div class="col-md-3 ">
                <div class="card ">
                    <img class="card-img-top imgheight" src="./images/hotels/newyork/plaza1.jpg" alt="" />
                    <div class="card-body card-body-scroll">
                        <h5 class="card-tite"> Plaza Hotel NewYork</h5>
                        <p class="card-text">Plaza Hotel is ......</p>
                        <div id="demo" class="collapse">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 ">
                <div class="card ">
                    <img class="card-img-top imgheight" src="./images/recreation/arnold.jpg" alt="" />
                    <div class="card-body">
                        <h5 class="card-tite"> Arnold Park, New Jersey</h5>
                        <p class="card-text">Some quick example text on card title</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                    <div class="card ">
                        <img class="card-img-top imgheight" src="./images/recreation/arnold.jpg" alt="" />
                        <div class="card-body">
                            <h5 class="card-title"> Arnold Park, New Jersey</h5>
                            <p class="card-text">Some quick example text on card title</p>
                        </div>
                    </div>
                </div>
            <div class="col-sm-3">
                <div class="card ">
                    <img class="card-img-top imgheight" ssrc="./images/hotels/arizona/boulders2.jpg" alt="" />
                    <div class="card-body">
                        <h5 class="card-tite"> Company Name</h5>
                        <p class="card-text">Some quick example text on card title</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 ">
                <div class="card ">
                    <img class="card-img-top imgheight" src="./images/hotels/newyork/plaza1.jpg" alt="" />
                    <div class="card-body card-body-scroll">
                        <h5 class="card-tite"> Plaza Hotel NewYork</h5>
                        <p class="card-text">Plaza Hotel is ......</p>
                        <div id="demo" class="collapse">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 ">
                <div class="card ">
                    <img class="card-img-top imgheight" src="./images/recreation/arnold.jpg" alt="" />
                    <div class="card-body">
                        <h5 class="card-tite"> Arnold Park, New Jersey</h5>
                        <p class="card-text">Some quick example text on card title</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                    <div class="card ">
                        <img class="card-img-top imgheight" src="./images/recreation/arnold.jpg" alt="" />
                        <div class="card-body">
                            <h5 class="card-title"> Arnold Park, New Jersey</h5>
                            <p class="card-text">Some quick example text on card title</p>
                        </div>
                    </div>
                </div>
            <div class="col-sm-3">
                <div class="card ">
                    <img class="card-img-top imgheight" ssrc="./images/hotels/arizona/boulders2.jpg" alt="" />
                    <div class="card-body">
                        <h5 class="card-tite"> Company Name</h5>
                        <p class="card-text">Some quick example text on card title</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 ">
                <div class="card ">
                    <img class="card-img-top imgheight" src="./images/hotels/newyork/plaza1.jpg" alt="" />
                    <div class="card-body card-body-scroll">
                        <h5 class="card-tite"> Plaza Hotel NewYork</h5>
                        <p class="card-text">Plaza Hotel is ......</p>
                        <div id="demo" class="collapse">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 ">
                <div class="card ">
                    <img class="card-img-top imgheight" src="./images/recreation/arnold.jpg" alt="" />
                    <div class="card-body">
                        <h5 class="card-tite"> Arnold Park, New Jersey</h5>
                        <p class="card-text">Some quick example text on card title</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                    <div class="card ">
                        <img class="card-img-top imgheight" src="./images/recreation/arnold.jpg" alt="" />
                        <div class="card-body">
                            <h5 class="card-title"> Arnold Park, New Jersey</h5>
                            <p class="card-text">Some quick example text on card title</p>
                        </div>
                    </div>
                </div>
            <div class="col-sm-3">
                <div class="card ">
                    <img class="card-img-top imgheight" ssrc="./images/hotels/arizona/boulders2.jpg" alt="" />
                    <div class="card-body">
                        <h5 class="card-tite"> Company Name</h5>
                        <p class="card-text">Some quick example text on card title</p>
                    </div>
                </div>
            </div>
        </div>
       </div>
        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 mt-4">
                        &copy 2018 WeConnect
                    </div>
                </div>
            </div>
        </div>
        <script src="./js/index.js"></script>
        <script src="./js/jquery.min.js"></script>
        <script src="./js/bootstrap.bundle.min.js"></script>
</body>
</html>