<!DOCTYPE html>
<html lang ="en">
<head>

<meta name = "view-port" content = "width=device-width initial-scale = 1.0"/>

<!--<link rel = "stylesheet" type = "text/css" href = "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>-->
<link rel = "stylesheet" type = "text/css" href = "./styles/index.css"/>
<link rel = "stylesheet" type = "text/css" href ="./styles/bootstrap.min.css" />


</head>

<body>
   
   <div class ="header">
    
    <div class ="container">

        <div class ="row">

            <div class = "col-sm">

            <h1 class ="col">We<span><img src ="./images/w.gif" alt =""/></span>Connect</h1>

            </div>

        </div>

        <div class ="row">

            <div class = "col-sm">

                   

                <button class ="nav-item btn1 btn-success">Login</button>

                <button class ="nav-item btn2 btn-success">Register</button>


            </div>

        </div>

    </div>

   </div>

 <div class ="c3" id ="c4">
   <div class = "container ">

        <div class = "row">

            <div class ="col-sm-12">
                
                <form class ="form1">
                
                    <input type = "text" id ="search" name ="search" placeholder="Search business" />
                   
                     <span><button class ="btn btn-success btn2">Search</button></span>


                </form>

            </div>

        </div>

   </div>
   
 </div>

<div class ="container"><p class =" text-center review">Top Reviews of the Day!</p></div>
  <div class = "container">
  
        <div class = "row">

            <div class = "col-sm-4">

                <div class = "card ">
                        
                    <img class = "card-img-top" src="./images/book3.jpg" alt = ""/>
                        
                        <div class ="card-body">
                        
                            <h4 class="card-tite"> Company Name</h4>
                        
                                <p class ="card-text">Some quick example text on card title</p>
                        
                            <button type ="button" class ="btn btn-success" data-toggle="collapse" data-target ="#demo">
                                                        Read Review</button>
                                    
                        <div id ="demo" class ="collapse">
                                
                            <table class="table">

                                <thead><tr><th>People</th><th>Reviews</th></tr></thead>
                                
                                <tbody>

                                    <tr>
                                        <td><img src="" alt=""/><p>Augustine Ezinwa</p></td> 
                                        <td>I love this place,so awesome</td>
                                    
                                    </tr>
                                    
                                </tbody>
                                
                            </table>
                            <button type ="button" class ="btn btn-primary" data-toggle="collapse" data-target ="#demo">
                                    close Review</button>
                    </div>

                        

                </div>
                        
            </div>

            </div>

            <div class = "col-sm-4">

                    <div class = "card ">

                        <img class = "card-img-top" src="./images/book3.jpg" alt = ""/>

                        <div class ="card-body">

                        <h4 class="card-tite"> Company Name</h4>

                        <p class ="card-text">Some quick example text on card title</p>

                        <button type ="button" class ="btn btn-success" data-toggle="collapse" data-target ="#demo1">
                                Read Review</button>
            
                                <div id ="demo1" class ="collapse">
                                        
                                    <table class="table">

                                        <thead><tr><th>People</th><th>Reviews</th></tr></thead>
                                        
                                        <tbody>

                                            <tr>
                                                <td><img src="" alt=""/><p>Augustine Ezinwa</p></td> 
                                                <td>I love this place,so awesome</td>
                                            
                                            </tr>
                                            
                                        </tbody>
                                        
                                    </table>
                                    <button type ="button" class ="btn btn-primary" data-toggle="collapse" data-target ="#demo1">
                                            close Review</button>
                                </div>

                                

                        </div>
                                
                    </div>
                
            </div>
                                  
            
            <div class = "col-sm-4">

                    <div class = "card ">
                            
                    <img class = "card-img-top" src="./images/book3.jpg" alt = ""/>

                    <div class ="card-body">

                    <h4 class="card-tite"> Company Name</h4>

                    <p class ="card-text">Some quick example text on card title</p>

                    <button type ="button" class ="btn btn-success" data-toggle="collapse" data-target ="#demo2">
                            Read Review</button>
        
                            <div id ="demo2" class ="collapse">
                                    
                            <table class="table">

                                <thead><tr><th>People</th><th>Reviews</th></tr></thead>
                                
                                <tbody>

                                    <tr>
                                        <td><img src="" alt=""/><p>Augustine Ezinwa</p></td> 
                                        <td>I love this place,so awesome</td>
                                    
                                    </tr>
                                    
                                </tbody>
                                
                            </table>
                            <button type ="button" class ="btn btn-primary" data-toggle="collapse" data-target ="#demo2">
                                    close Review</button>
                            </div>

                            

                    </div>
                            
                </div>
            </div>

        </div>

 </div> 

 <div class = "footer">

    <div class ="container">

        <div class = "row"> 

            <div class ="col-sm-12">

                &copy 2018 WeConnect

            </div>

        </div>

    </div>

 </div>





    
 <script src ="./js/index.js"></script>
    <script src = "./js/jquery.min.js"></script>
    <script src = "./js/bootstrap.bundle.min.js"></script>
    
</body>








</html>


