* {
    box-sizing: border-box;
}
h1 {
    text-align: center;
}
.card {

    margin :4px;
}
.footer {
    text-align :center;
    background-color:black;
    color:white;
    height:100px;
}
.cardheight {

    height : 500px;
    overflow-y:scroll;
}
.imgheight {

    height: 220px;
}

#location3, #category3 {

    display: none;
    height: 50px;
}
.login-box {
    width : 100%;
    border : 1px solid green;
    border-radius: 10px;
    padding :10px;
    height: 100%;  
}
.header-text {
    margin-top : 100px;
}
.image-background {
    background: url('../images/supermarket/supermarket.jpeg') no-repeat;
    background-size: cover;
    background-position: center;
    height: 400px;
    width: 100%;
    margin:0 auto;
}
